.loading {
    display: flex;
    justify-content:center;
    text-align: center;
    align-items: center;
    padding: 200px;
}
.circle{
	position:absolute;
	border-radius:50%;	
	animation:spin 3s linear infinite;
	display:flex;
}

.circle-red{
	border:20px solid rgba(252,33,33,.2);
	border-right:20px solid rgb(252,33,33);
	animation-delay:.5s;
	width:150px;
	height:150px;
}

.circle-green{
	border:20px solid rgba(198,200,99,.2);
	border-right:20px solid rgb(198,200,99);
	animation-delay:1s;
	width:100px;
	height:100px;
}

.circle-blue{
	border:20px solid rgba(18,198,255,.2);
	border-right:20px solid rgb(18,198,255);
	width:200px;
	height:200px;
}

.noClick {
	pointer-events: none;
}

@keyframes spin{
	100%{
		transform:rotate3D(1,.5,.75,720deg)  rotateZ(720deg);
	}
}