.container-wallet-form {
    height: 50vh;
}

.wallet .container-wallet-form {
    background: #424242;
    margin-bottom: 100px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 16px;
    color: #fff;
}

.link-to-payment{
    background: #545b62;
    margin-top: 30px;
    width: 60%;
    margin-left: 20%;
    padding: 10px;
}
